pkgbase = yade
	pkgdesc = Extensible open-source framework for discrete numerical models, focused on Discrete Element Method. The computation parts are written in c++ using flexible object model, allowing independent implementation of new algorithms and interfaces. Python is used for rapid and concise scene construction, simulation control, postprocessing and debugging.
	pkgver = 1.14.0
	pkgrel = 1
	url = https://yade-dem.org
	arch = any
	license = GPLv2
	makedepends = cmake
	depends = cmake
	depends = gcc
	depends = gdb
	depends = freeglut
	depends = loki-lib
	depends = boost
	depends = fakeroot
	depends = python2
	depends = ipython2
	depends = python2-matplotlib
	depends = sqlite
	depends = python2-numpy
	depends = tk
	depends = gnuplot
	depends = gts
	depends = pygts
	depends = python2-pygraphviz
	depends = vtk
	depends = eigen3
	depends = python2-xlib
	depends = python2-pyqt4
	depends = gtk-engines
	depends = qt4
	depends = python2-pillow
	depends = python2-sphinx
	depends = libxmu
	depends = libxi
	depends = gmp
	depends = cgal
	depends = help2man
	depends = suitesparse
	depends = metis
	depends = openblas
	optdepends = jquery: javascript library for documentation
	optdepends = python-bibtex: parsing bibtex with python for documentation
	provides = yade
	provides = yade-batch
	source = https://github.com/yade/trunk/archive/1.14.0.tar.gz
	sha1sums = d6d912e4d935bca7edf59f163e3c5e546fa2fdec

pkgname = yade

